language: node_js

node_js:
  - "node"

deploy:
  provider: firebase
  token:
    secure: ovx11p/y2HRElL8kaGHL/dwuhKfhBc8ntv1JjYh1TUomCj/a0s98kq8jFrwTp8PUYioyfU9g81iyIWpXm5dj9rq7MICx2hLaFihl8K34Mjq1E5nrSr6OfeGK3vazJn2ZuGbK4EbD2FU/i5YrCwZSY4oijX7asjOURPWBYHAe6tEewcylrmAwyXySohITSWbssBgZBATcf9g/NQIkpgAJG2NtwbZI6Sg3sI/BC/k1Mq6YKdGBowRnxFg/DI/e7p9EeLskK+hUrUKRGWLkSfNwY8d+AhudPDlSLxk0fJdcZSqayoA4wEatrGH8h5zSOs17GYOLmgU+TDK2FcITuwmu4DUvaXzl9yYCYqc+rQ51Ti5evg0JADoUWbgoAgK7HlrG2pL7nnNJO1WIDoQ1i1JzmhKd/nK9mS/QgV1fUFtJvqULCZitiCJigHkQQeKAR8jdvN0gUfNFWJJ3rZSXFhVEML+SPu24x4QaW9mQwG++Tezy6fgrg1+cdEmtzdgYsioYPm15LTlZP1ULylomfd1BLwGM9OMs9npKwx2nPzu4PV2nVc8fesJrbbLhYZ/ntbMU+xjAa7lXfUlL12NJrZrYCd8EjXN3nyEgseVe+j2ylTWHCe9BKpq2S9lvG/MJuLFQcNVrqIKJeqhl2CmnL3btYltBfMOsz6VZdxnev4DMl8c=
  on:
    branch: firebase-functions